
@{
	ViewBag.CurrentMenu = "Map";
}

<div>
	<!--
	<img class="direct-chat-img" src="~/wwwroot/C215F1.png" alt="message user image">
	-->
	<canvas id="myCanvas" width="1300" height="1000"></canvas>
	
</div>


@section scripts{
	<script src="~/Views/Map/Index.js"></script>
}