@model NetCoreMvcServer.Models.App_SensorData

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>App_SensorData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="device" class="control-label"></label>
                <input asp-for="device" class="form-control" />
                <span asp-validation-for="device" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timestamps" class="control-label"></label>
                <input asp-for="timestamps" class="form-control" />
                <span asp-validation-for="timestamps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timestampms" class="control-label"></label>
                <input asp-for="timestampms" class="form-control" />
                <span asp-validation-for="timestampms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sendsorvalue" class="control-label"></label>
                <input asp-for="sendsorvalue" class="form-control" />
                <span asp-validation-for="sendsorvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
