@{
	ViewBag.CurrentMenu = "Home";
}
@using Microsoft.Extensions.Localization;
@using NetCoreMvcServer;

@inject IStringLocalizer<SharedResource> SharedLocalizer


<div class="login-logo">

	<b>@SharedLocalizer["Home_Welcome"]</b>

</div>