@{
	ViewBag.CurrentMenu = "Home";
}
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> SharedLocalizer
<div class="login-logo">
	<b>@SharedLocalizer["Home_Welcome"]</b>
</div>